<div class="pt-20 pb-10 min-h-screen">
    <h1 class="mt-2.5 text-blue-950 uppercase text-center font-medium text-2xl">Today's billboard</h1>
    <div class="mt-4">
        <div class="w-full mb-6 relative">
            <input id="movie" type="text" class="p-1.5 pl-2.5 ring-[2px] ring-blue-300 focus:outline-none focus:ring focus:ring-blue-400 focus: focus:shadow-blue-100 rounded w-full placeholder:text-sm" placeholder="Search by movie or description" (keyup)="filterByTitleOrDescription($event)" value="" />
            <span class="absolute flex items-center justify-center right-1 top-1/2 -translate-y-1/2 cursor-pointer hover:bg-neutral-100 w-8 h-8 rounded-full transition duration-300 ease-in-out">
                <i class="bi bi-search text-slate-700"></i>
            </span>
        </div>
        <div class="checkboxes flex flex-wrap items-center justify-center gap-x-4 gap-y-2.5">
            <ng-container *ngFor="let genre of genresList">
                <input title="{{genre}}" type="checkbox" (change)="filterByGenres($event)" [name]="genre" [id]="genre">
                <label [htmlFor]="genre">{{ genre }}</label>
            </ng-container>
        </div>
        <app-movie-list [movies]="filteredMovies"></app-movie-list>
    </div>
</div>
